# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Kuliah\Semester_6\Progjar\http\Pemrograman_Jaringan_E_Kelompok_4\Reverse Proxy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
